<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonateRedDrop"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ActivityClasses.Image_Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ActivityClasses.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ActivityClasses.Chat"
            android:exported="false" />
        <activity
            android:name=".ActivityClasses.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".ActivityClasses.Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.DonateRedDrop.NoActionBar" />
        <activity
            android:name=".ActivityClasses.Signup"
            android:exported="false" />
        <activity
            android:name=".ActivityClasses.Login"
            android:exported="false" />
        <activity
            android:name=".ActivityClasses.SplashScrean"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            />   </application>

</manifest>